body { 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding-top: 20px;
}

.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.team-container img {
    width: 90px;
    height: 68px;
}

.vs-text {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

h1, h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.carousel_main {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 20px;
    margin: 0 auto;
}

.carousel_wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel_slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel_button_container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel_button_container button {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

.carousel_pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel_circle {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel_circle.active {
    background-color: #333;
}

.form-link {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

.form-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.event-info {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

._event-info {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #555;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #383737; /* 회색 배경 */
    color: white; /* 흰색 글자 */
    border: none; /* 테두리 제거 */
    border-radius: 25px; /* 둥글게 만들기 */
    cursor: pointer;
    font-size: 2vw; /* 반응형 글씨 크기 */
    transition: background 0.3s, box-shadow 0.3s; /* 애니메이션 효과 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}
.back-button:hover {
    background-color: #606060; /* 호버 시 어두운 회색 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강도 증가 */
}
