body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

h4{
    margin-top: 0;
    margin-bottom: 20px;
}

.container{
    text-align: center;
    padding-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.floor-container {
    display: flex; /* 가로 정렬을 위해 flex 사용 */
    justify-content: center; /* 중앙 정렬 */
    width: 100%;
    flex-wrap: wrap; /* 내용이 넘칠 경우 줄 바꿈 */
}

.floor {
    margin: 0 20px; /* 층별 간격 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* 기본 마진 제거 */
}

li {
    margin-bottom: 10px;
}

.cute-button {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #6bc1ff; /* 배경색 */
    color: white; /* 글자색 */
    border: none;
    border-radius: 20px; /* 둥근 모서리 */
    text-decoration: none; /* 밑줄 제거 */
    transition: background-color 0.3s, transform 0.2s; /* 애니메이션 효과 */
}

.cute-button:hover {
    background-color: #6bc1ff; /* 호버 시 색 변경 */
    transform: scale(1.05); /* 호버 시 살짝 커짐 */
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.team-container img {
    width: 90px;
    height: 68px;
}

.vs-text {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

/* 미디어 쿼리 - 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
    body {
        padding: 10px; /* 패딩 줄이기 */
    }
    .cute-button {
        font-size: 14px; /* 버튼 크기 조정 */
        padding: 8px 16px; /* 버튼 패딩 조정 */
    }
}

/* 미디어 쿼리 - 화면 크기가 480px 이하일 때 */
@media (max-width: 480px) {
    img {
        margin-bottom: 15px; /* 이미지와 목록 사이 여백 조정 */
    }
    li {
        font-size: 16px; /* 목록 항목 크기 조정 */
    }
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #383737; /* 회색 배경 */
    color: white; /* 흰색 글자 */
    border: none; /* 테두리 제거 */
    border-radius: 25px; /* 둥글게 만들기 */
    cursor: pointer;
    font-size: 2vw; /* 반응형 글씨 크기 */
    transition: background 0.3s, box-shadow 0.3s; /* 애니메이션 효과 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.back-button:hover {
    background-color: #606060; /* 호버 시 어두운 회색 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강도 증가 */
}