/* Styles for the main container */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f7f2; /* Changed to match the image background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    background-color: #d3e2ce; /* Matches header background color */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 320px;
    margin-top: 20px;
    font-size: 16px;
}

.weather-section, .subway-section {
    background-color: #eff2ea; /* Light green background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    width: 340px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.hourly {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly p {
    margin: 2px;
    font-size: 14px;
}

.weather-forecast img {
    width: 30px;
    height: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f7f2; /* Matches the table header background */
}

td:last-child {
    border-right: none;
}

.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.team-container img {
    width: 90px;
    height: 68px;
}

.vs-text {
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
}

/* Styles for the buttons */
a {
    display: inline-block;
    width: 250px;
    text-align: center;
    background-color: #464646;
    color: #fff;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
}

